<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duapp.stonegate.mikuserver.dao.InstructionDao">

    <resultMap id="instructionResultMap" type="Instruction">
        <id property="instructionId" column="instruction_id"/>
        <result property="keyword" column="keyword"/>
        <result property="command" column="command"/>
        <result property="action" column="action"/>
        <result property="nextInstruction" column="next_instruction"/>
        <result property="clientAction" column="client_action"/>
    </resultMap>
    <select id="getCommand" resultType="int" parameterType="String">
        <![CDATA[
                SELECT command FROM miku_instruction WHERE keyword =#{command}
        ]]>
    </select>
    <select id="getInstructionByKey" resultMap="instructionResultMap" resultType="Instruction" parameterType="String">
        <![CDATA[
               SELECT instruction_id,keyword,command,action,next_instruction,client_action
               FROM miku_instruction
               WHERE keyword like #{key};
        ]]>
    </select>
    <select id="getInstructionByCommandNum" resultMap="instructionResultMap" resultType="Instruction" parameterType="int">
        <![CDATA[
               SELECT instruction_id,keyword,command,action,next_instruction,client_action
               FROM miku_instruction WHERE command =#{comNum};
        ]]>
    </select>
</mapper>